extends layout

block content
  h1.text-center.text-primary.mb-3 Top 10 cryptocurrencies
  .text-center.m-3
    a(href='/crypto/add')
      button.btn.btn-primary Add a new cryptocurrency
  each currency, index in cryptocurrencies
    .card.bg-light.mb-2
      .card-header= `Rank ${index + 1}`
      .card-body
        h5.card-title= `${currency.name} $${currency.price}`
          button.ml-3.btn.btn-secondary.float-right(onclick=`deleteCrypto('${currency.name}')`) X
          img(src=`${currency.logo}`, width='30', height='30', alt='').float-right
          